/***************************************************
*
*	Front-end News! Stylesheet
*
*
*	Header Background(Indigo) 	: rgb(64 84 178);
*	Latest News (Black) 		: rgb(255 255 225);
*	News Title (Indigo dark)	: rgb(63 108 97);
*	default (Gray medium)		: rgb(19, 0, 1);
*	Author Comments Like (Pink)	: rgb(253, 154, 177);
*	Border (Gray light)			: rgb(220, 220, 220);
*
*****************************************************/

/*------------------------------------
*	Base
--------------------------------------*/

body {
	font-family: 400 1em/1.5em 'Lato', sans-serif;
	color: rgb(63, 108, 97);

}

h1, h2, h3, h4, h5, h6 {

}

ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}




p {

}

a {
	color: rgb(253, 154, 177);
}

a:active,
a:focus,
a:hover {
	color: rgb(19, 0, 1);
}

/*------------------------------------
*	Top Head
--------------------------------------*/

.top-head {
	background-color: rgb(64, 84, 178);
	color: rgb(255, 255, 255);
	margin-bottom: 20px;
	padding: 20px 0;
	text-align: center;

}

/*------------------------------------
*	Logo
--------------------------------------*/

.logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.875em;
	font-weight: 700;
	text-transform: uppercase;
}


/*------------------------------------
*	News
--------------------------------------*/

.news-item {
	border-bottom: 1px solid rgb(220, 220, 220); 
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.news-item:last-child {
	border-bottom: none;
}

.news-link  {
	color: rgb(64, 84, 178);
	display: block;
	font-size: 1.125em;
	letter-spacing: .02em;
	margin-bottom: 10px;

}



.news-meta-item {
	display: inline;
	font-size: .80em;
	margin-right: 10px;
	
}

.news-meta-item:first-child {
	margin-right: 0;
}




/*------------------------------------
*	Container
--------------------------------------*/
.container {
	
	margin: 0 auto;
	max-width: 800px;
	clear: both;
}

/*------------------------------------
*	Animation
--------------------------------------*/

@keyframes flash {
	from, 50%, to {
		opacity: 0;
		filter: alpha(opacity=0);
	}

	25%, 75% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

/*------------------------------------
*	States
--------------------------------------*/
.is-liked {
	animation: flash 2s;
}





/*------------------------------------
*	Sub Header
--------------------------------------*/
/*.intro {
	font-size: 1.25em;
	font-weight: bold;
	letter-spacing: .04em;
	margin-bottom: 0;
}

.description {
	float: left;
	font-size: .80em;
	font-weight: normal;
	margin-top: 0;
	padding-right: 5px;
	
}

.add-link {
	font-size: .85em;
	color: rgb(253, 154, 177);
	position: absolute;
}








