/***************************************************
*
*	Front-end News! Stylesheet
*
*
*	Header Background(Indigo) 	: rgb(64 84 178);
*	Latest News (Black) 		: rgb(255 255 225);
*	News Title (Indigo dark)	: rgb(63 108 97);
*	default (Gray medium)		: rgb(19, 0, 1);
*	Author Comments Like (Pink)	: rgb(253, 154, 177);
*	Border (Gray light)			: rgb(220, 220, 220);
*
*****************************************************/

/*------------------------------------
*	Base
--------------------------------------*/

body {
	font-family: 400 1em/1.5em 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 5px;
	margin-top: 0;
}


ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {

}

a {
	color: rgb(253, 154, 177);
	transition: 0.4s ease-in-out;
}

a:active,
a:focus,
a:hover {
	color: rgb(19, 0, 1);
}

/*------------------------------------
*	Container
--------------------------------------*/
.container {
	
	margin: 0 auto;
	max-width: 800px;
	clear: both;
	margin-bottom: 40px;
}

/*------------------------------------
*	Top Head
--------------------------------------*/

.top-head {
	background-color: rgb(64, 84, 178);
	color: rgb(255, 255, 255);
	margin-bottom: 20px;
	padding: 20px 0;
	text-align: center;

}

/*------------------------------------
*	Logo
--------------------------------------*/

.logo {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.875em;
	font-weight: 700;
	text-transform: uppercase;
}

/*------------------------------------
*	Sub Header
--------------------------------------*/
.sub-header {
	font-family: 'Lato', sans-serif;
	margin-bottom: 20px;
}

.add-now {
	margin-left: 10px;
}





/*------------------------------------
*	Form
--------------------------------------*/
.form {
	margin-bottom: 30px;
	height: 0;
	opacity: 0;
	visibility: hidden;

}


.form-label {
	display: block;
	font-weight: 700;
	margin-bottom: 10px;
}

.form-input {
	border: 1px solid rgb(220, 220, 220); 
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 20px;
	padding: 10px;
	width: 100%;
}



/*------------------------------------
*	Modal
--------------------------------------*/
.modal  {
	background-color: #FFF;
	 -webkit-box-shadow: -2px -1px 14px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    -2px -1px 14px 0px rgba(50, 50, 50, 0.75);
			 box-shadow:         -2px -1px 14px 0px rgba(50, 50, 50, 0.75);
	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	left: 50%;
	position: absolute;
	top: 25px;
	transform: translate(-50%, -5%);
	transition: 0.4s ease-in-out;
	width: 500px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
}



.modal-media {
	position: relative;
}

.modal-media-title {
	color: #fff;
	bottom: 10px;
	left: 20px;
	font-size: 25px;
	position: absolute;
}

.modal-content {
	padding: 15px;
}

.modal-overlay {
	background-color: #333;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: 0.4s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 1;
	
}



/*------------------------------------
*	News
--------------------------------------*/

.news-item {
	border-bottom: 1px solid rgb(220, 220, 220); 
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.news-item:last-child {
	border-bottom: none;
}

.news-link  {
	color: rgb(64, 84, 178);
	display: block;
	font-size: 1.125em;
	letter-spacing: .02em;
	margin-bottom: 10px;
}


.news-meta-item {
	display: inline;
	font-size: .80em;
	margin-right: 10px;
	
}

.news-meta-item:first-child {
	margin-right: 0;
}




/*------------------------------------
*	State
--------------------------------------*/
.is-liked {
	animation: flash 2s;
}

.is-visible{
	opacity: 1;
	visibility: visible;
}

.form.is-visible {
	height: auto;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.modal.is-visible {
	transform: translate(-50%, 0);
}

.modal-overlay.is-visible {
	opacity: 0.4;
}


/*------------------------------------
*	Animation
--------------------------------------*/

@keyframes flash {
	from, 50%, to {
		opacity: 0;
		filter: alpha(opacity=0);
	}

	25%, 75% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}





